<app-header-title fxFlexFill  leftIconName="arrow_back" headerTitle="Language Settings" rightIconName="volume_up" >
</app-header-title>

<mat-list class="menu-list">
  <form [formGroup]="languageFrm">
  <h3 class="menu-list-header" matSubheader>Current Language</h3>
  <mat-list-item class="menu-list-wrapper">
    <div class="div-form-field">
      <mat-form-field class="menu-form-field">
        <mat-label>Select Language</mat-label>
        <mat-select formControlName="language">
          <mat-option value="english">English</mat-option>
          <mat-option value="other">Others</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div class="confirm-container">
      <button 
        class="confirm-button" 
        (click)="onConfirmClick()"
        mat-raised-button color="primary">Confirm</button> 
    </div>
  </mat-list-item>
  </form>
</mat-list>